!!!
%html
  %head
    %title Rally on Rails Results - Brought to you by Timehub.net
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "Emmanuel Oga, Andrés Mejía", :name => "author"}/
    %meta{:content => "Licensed under GPL and MIT.", :name => "copyright"}/
    %meta{:content => "Results", :name => "description"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}


    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/ribbon.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/gh_buttons.css"}      
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/ranking.css"}
        
    %script{:type => "application/javascript", :src => "javascripts/dt.js"}
    %script{:type => "application/javascript"}
      :plain
        $(function(){
          $("#scores").dataTable({ "iDisplayLength": 50, "aaSorting": [[10,'desc']] });
        });

  %body
    %div.right.ribbon-holder
      %a.darkblue.ribbon{:href => "http://rallyonrails.com/teams/47", :target => "_blank"}
        %span.text
          Vote for us
    %div#main.wrapper
      %h1
        %a{:href => "http://rallyonrails.com/teams" } Rally On Rails '11 Scoreboard
      %h2
        Help us keep
        %span.timehub_logo TimeHub
        on the top.        
      %div.button.vote_button
        Vote for 
        %span.timehub_logo TimeHub        
      %table#scores
        %thead
          %tr
            - [:position, :app, :members, :team, "Judges points", "Judges average stars", :integrity, :interface, :originality, :usefulness, "Public points", "Public average stars"].each do |attr|
              %th= attr.to_s.titleize

        %tbody
          - @apps.each_with_index do |app, position|
            %tr{:class => (app.team.to_s =~ /jointstorm/i ? "me" : "not_me") }
              %td
                = position + 1
              %td
                %a{:href => app.url}= app.title
              %td
                - app.members.each do |name|
                  %div
                    %a{:href => "http://github.com/#{name}"}= name
              %td
                %a{:href => app.team_url}= app.team

              %td= app.judges_score
              %td.total= app.judges_total.round(2)
              
              - [:judges_integrity, :judges_interface, :judges_originality, :judges_utility].each do |attr|
                %td= app.send(attr).round(2)

              %td= app.public_score
              %td.total= app.public_total.round(2)

              
      %p
        Refresh every now and then to get updates.
        %small
          %a{:href => "https://github.com/timehub/ranking" } (source code)
    
    #footer.wrapper
      %a{:href => "http://rallyonrails.com/teams/47", :target => "_blank"}
        %img{:alt => "Vote for us!", :src => "http://timehub.net/images/rally.png", :title => "Vote for us!"}/
      %div{:style => "margin-top: 20px"}
        Created by
        %a{:href => "http://rallyonrails.com/teams/47", :target => "_blank"} Funky Town
      %div{:style => "margin-top: 20px"}
        %a{:href => "https://github.com/andmej", :target => "_blank"} Andrés Mejía Posada
        |
        %a{:href => "https://github.com/jpemberthy", :target => "_blank"} Juan Esteban Pemberthy
        |
        %a{:href => "https://github.com/nhocki", :target => "_blank"} Nicolás Hock Isaza