!!!
%html
  %head
    %title Rally on Rails Results - Brought to you by Timehub.net
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "Emmanuel Oga, Andrés Mejía", :name => "author"}/
    %meta{:content => "Licensed under GPL and MIT.", :name => "copyright"}/
    %meta{:content => "Results", :name => "description"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}


    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/ribbon.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/gh_buttons.css"}      
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/ranking.css"}
        
    %script{:type => "application/javascript", :src => "javascripts/dt.js"}
    %script{:type => "application/javascript"}
      :plain
        $(function(){
          $("#scores").dataTable({ "iDisplayLength": 50, "aaSorting": [[11,'desc']] });
        });

  %body
    %div.right.ribbon-holder
      %a.darkblue.ribbon{:href => "http://rallyonrails.com/teams/47", :target => "_blank"}
        %span.text
          Vote for us
    %div#main.wrapper
      %h1
        %a{:href => "http://rallyonrails.com/teams" } Rally On Rails '11 Scoreboard
      %h2
        Help us keep
        %span.timehub_logo TimeHub
        on top.        
      %a.button.vote_button{:href => "http://rallyonrails.com/teams/47#ajaxful_rating_judge_usefulness_no-small_application_42", :target => "_blank"}
        Vote for 
        %span.timehub_logo TimeHub
        
      / %h1
      /   %a{:href => "http://twitter.com/#!/rallyonrails/status/106107169946079232"} Someone is cheating.
      / %h2 The scoreboard will reappear here once the judges fix the vulnerability in the voting app.
      %h3
        It seems like the
        %a{:href => "/cheating"} the cheating episode
        has been resolved.
        
      %table#scores
        %thead
          %tr
            - [:position, :app, :members, :team, "Judges points", "Judges average stars", "Public integrity", "Public interface", "Public originality", "Public usefulness", "Public points", "Public average stars"].each do |attr|
              %th= attr.to_s.titleize
      
        %tbody
          - @apps.each_with_index do |app, position|
            %tr{:class => (app.team.to_s =~ /jointstorm/i ? "me" : "not_me") }
              %td
                = position + 1
              %td
                %a{:href => app.url}= app.title
              %td
                - app.members.each do |name|
                  %div
                    %a{:href => "http://github.com/#{name}"}= name
              %td
                %a{:href => app.team_url}= app.team
      
              %td= app.judges_score
              %td.total= app.judges_total.round(2)
              
              - [:public_integrity, :public_interface, :public_originality, :public_utility].each do |attr|
                %td= app.send(attr).round(2)
      
              %td= app.public_score
              %td.total= app.public_total.round(2)
      
              
      %p
        Refresh every now and then to get updates.
        %small
          %a{:href => "https://github.com/timehub/ranking" } (source code)
          
    #footer.wrapper
      %a{:href => "http://rallyonrails.com/teams/47", :target => "_blank"}
        %img{:alt => "Vote for us!", :src => "http://timehub.net/images/rally.png", :title => "Vote for us!"}/
      %div{:style => "margin-top: 20px"}
        Created by
        %a{:href => "http://rallyonrails.com/teams/47", :target => "_blank"} Funky Town
      %div{:style => "margin-top: 20px"}
        %a{:href => "https://github.com/andmej", :target => "_blank"} Andrés Mejía Posada
        |
        %a{:href => "https://github.com/jpemberthy", :target => "_blank"} Juan Esteban Pemberthy
        |
        %a{:href => "https://github.com/nhocki", :target => "_blank"} Nicolás Hock Isaza

  %script{:type => "application/javascript"}
    = File.read("public/javascripts/ga.js")
